.form {
    width: 360px;
}

.form__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form__input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 16px;
    padding-left: 5px;
}

.form__input:hover {
    border: 1px solid #000;
}

.form__input:focus {
    border: 1px solid #4e75ff;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
    margin-right: 16px;
}

.fieldset {
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid #808080;

    margin-bottom: 24px;
}

.fieldset:hover {
    border: 1px solid #000;
    ;
}

.fieldset__legend {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.fieldset__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

/* .fieldset__input {
} */

.form__button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4e75ff;
    border: none;
}

.form__button:hover,
.form__button:focus {
    background-color: #6c8cff;
}